[data-mp-input-wrapper] {
	display: flex;
	flex-flow: column;
	row-gap: 0.5rem;
	> [data-input-wrapper_label] {
		&:has([data-input-wrapper-label]:empty),
		[data-input-wrapper-label]:empty {
			display: contents;
		}
		padding: 1.8rem 2.4rem;
		font-size: 1.6rem;
		display: flex;
		flex-flow: column;
		gap: 0.6rem;
		border-radius: 2.4rem;
		border: solid 2px var(--onBackground);
		&:focus-within {
			border: solid 2px var(--primary);
		}
	}
	[data-input-wrapper-children] {
		width: 100%;
		height: 100%;
		display: flex;
	}
	[data-input-wrapper-label] {
		line-height: 1.5;
		font-weight: bold;
	}

	[data-input-wrapper-content] {
		line-height: 1.57;
		font-size: 1.4rem;
		position: relative;
		flex: 1;
		[data-input-wrapper-placeholder] {
			color: var(--disabled);
			position: relative;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.57;
			//letter-spacing: -0.05rem;
		}
	}

	[data-icon='required'] {
		margin-top: 0.3rem;
		margin-left: 0.3rem;
		font-size: 0.4rem;
	}

	/*	&:has([data-error-message]) {
		[data-input-wrapper-content]:after {
			content: attr(data-error-message);
			color: var(--error);
			font-size: 1.3rem;
			line-height: 1.5;
			flex: 1 0 100%;
		}
	}*/

	// 브라우저가 input을 invalid 라고 판단 하더라도 에러메시지가 없으면 valid 상황이다 - custom validate가 브라우저 validate보다 우선한다.
	::placeholder,
	[data-input-wrapper-placeholder] {
		opacity: 0.5;
	}
	&:not(:focus-within):not(:has(:checked))[data-error-message] {
		&:after {
			display: block;
			content: attr(data-error-message);
			color: var(--error);
			font-size: 1.3rem;
			font-weight: normal;
			line-height: 1.5;
			padding: 0 2.2rem;
			order: 2; //항상 마지막에 위치해야 한다.
		}

		[data-input-wrapper_label] {
			border: solid 2px var(--error);
			&:focus-within {
				border: solid 2px var(--error);
			}
		}
	}
	/*
	&:not(:has([data-error-message])):has(:not(:focus):invalid) {
		::placeholder,
		[data-input-wrapper-placeholder] {
			color: var(--disabled);
			opacity: initial;
		}
		> [data-input-wrapper_label] {
			border: solid 2px var(--onBackground);
			&:focus-within {
				border: solid 2px var(--primary);
			}
		}
		[data-input-wrapper-label] {
			color: var(--onBackground);
		}
		[data-icon='required'] {
			background-color: var(--primary);
		}
	}*/
}

// without label - ex : checkbox list

[data-input-wrapper][data-input-wrapper-without-label] {
	&:not(:focus-within)[data-error-message] {
		&:after {
			padding: initial;
		}
		border: solid var(---error) 1px;
	}
	padding: 0;
	border: none;
	&:focus-within {
		border: none;
	}
	min-height: initial;
}

@media (min-width: 1108px) {
	[data-input-wrapper] {
		&:not(:focus-within):not(:has(:checked))[data-error-message] {
			&:after {
				padding: 0 4rem;
			}
		}
		font-size: 1.8rem;
		flex-flow: row;
		border-radius: 5rem;
		min-height: 9rem;
		align-items: center;
		padding-left: 4rem;
		padding-right: 4rem;
		[data-input-wrapper-label] {
			font-size: 1.8rem !important;
			position: relative;
			min-width: 12.6rem;
			line-height: 1.56;
		}
		[data-input-wrapper-content] {
			input,
			[data-input-wrapper-placeholder] {
				font-size: 1.6rem;
			}
		}
	}

	[data-mp-input-wrapper] {
		> [data-input-wrapper_label] {
			border-radius: 5rem;
			padding: 2.9rem 3.8rem;
			flex-flow: row;
			align-items: center;
		}
	}
}
