[data-fx='okiwana'][data-fx-text-field] {
    display: flex;
    flex-flow: column;
    row-gap: 0.5rem;
    border-radius: 2.4rem;
    border: solid 2px black;
    padding: 1.8rem 2.4rem;
    font-size: 1.6rem;
    flex-flow: column;
    gap: 0.6rem;
    &:focus-within {
        border: solid 2px tomato;
    }
    [data-fx-key] {
        line-height: 1.5;
        font-weight: bold;
    //border: solid 2px var(--onBackground);
    }
    [data-fx-value] {
        border: none;
        outline: none;
    }
}


